@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');

body {
  background-color: #2E1B5B;
  color: #E1D5FD;
  font-family: 'Kanit', sans-serif;
  display: flex;
  flex-direction: column;

  .root {
    position: relative;
  }
}