.selection {
  position: absolute;
  z-index: 99;
  width: 60%;
  right: 20%;
  top: 20px;
  display: flex;
  align-items: end;
  justify-content: space-around;

  button {
    background-color: #8E68E6;
    width: 7vw;
    border-radius: 30px;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    appearance: none;
    box-shadow: 1px 1px 5px #E1D5FD;
    text-align: center;

    h1 {
      font-family: 'Kanit', sans-serif;
      font-size: 2vw;
      font-weight: 300;
    }
  }
}

.timer {
  position: relative;

  .img {
    position: absolute;
    left: 10%;
    top: 50px;
    width: 80%;

    img {
      width: 100%;
    }

    .content {
      position: absolute;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      color: #2E1B5B;
      width: 40%;
      right: 30%;
      top: 25vw;

      h1 {
        font-size: 8vw;
        font-weight: 300;
        margin: 0;
        text-shadow: 2px 2px 5px #8E68E6;
      }

      h2 {
        font-weight: 200;
        font-size: 3.2vw;
        margin: 0;
        text-align: center;
      }
    }
  }
}